Body {
    width: 1100px;
    max-width: 95%;
    background-color:rgb(233, 231, 223);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    color: rgb(76, 85, 88);
    margin: auto;
}

#wrapper {

    width: 1200px;

} 
header {

    width: 50%;
    height: 150px;
    background: rgb(124, 124, 124);
    float: left;

}

#contact {
    background-color: red;
    width: 50%;
    height: 150px;
    float: right;


}

img {
    float: inline-start;
}

.contacts {

   height: 150px;
   line-height: 20%;
}