body {
    width: 1200px;
    Background: rgb(241, 241, 241);
    max-width: 95%;
    margin: auto;
}

#wrapper {

    width: 1100px;
} 
header {
    color: rgb(206, 25, 25);
    width: 50%;
    height: 150px;
    background: rgb(124, 124, 124);
    float: left;
}

#contact {
    background-color: red;
    width: 50%;
    height: 150px;
    float: right;

}

img {
    float: inline-start;
}

.contacts {

   height: 150px;
   line-height: 20%;
}